@model RegistrationAndLogin3.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

<h2>로그인</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rememberme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Rememberme)
                    @Html.ValidationMessageFor(model => model.Rememberme, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <pre>

        </pre>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="로그인" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}
<pre>

</pre>
<div>
    @Html.ActionLink("회원가입", "Index") |
    @Html.ActionLink("비밀번호 찾기", "ForgetPassword")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
